.card-skill {
    position: relative;
    display: flex;
    align-items: center;
    height: 85px;
    margin: 20px;
    border: solid 2px $color-yellow;
    border-radius: 10px;
    transition: transform 250ms;
}

.card-skill .title {
    color: $color-white;
}

.card-skill:hover {
    cursor: pointer;
    background: $color-background-light;
    transition: all 0.3s;

    .title {
        transform: translateY(-10px);
        transition: all 0.3s ease 0s;
    }
    .level {
        opacity: 1;
        transform: translateY(15px);
        transition: all 0.3s ease 0s;
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 100px;
}

.language-logo {
    max-width: 50px;
    margin: 0 15px;
    height: auto;
}

.level {
    position: absolute;
    opacity: 0;
    color: $color-white;
    margin-top: 5px;
    top: 30px;
}

.title {
    font-size: 20px;
}

.title-and-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visible a {
    display: flex;
}

@media screen and (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
        margin-left: 0px;
        font-size: small;
        margin-bottom: 50px;
    }

    .title {
        font-size: medium;
    }

    .card-skill {
        margin: 15px;
    }
}