.header {
    display: flex;
    margin: 0 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header p {
    color: $color-yellow;
}

.navigation ul {
    display: flex;
    flex-direction: row;
}

.navigation li {
    font-size: 15px;
    margin: 50px 20px;
    color: $color-white;
}

.navigation a {
    text-decoration: none;
}

.navigation .active li{
    padding-bottom: 5px;
    border-bottom: solid $color-yellow;
    color: $color-white;
}

.github-logo img{
    width: 60px;
    height: auto;
}

@media screen and (max-width: 480px) {
    .navigation {
        position: fixed;
        background: rgba(19, 19, 19, 0.8);
        height: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        z-index: 1000; /* Assure-toi qu'elle est au-dessus du contenu */
    }

    .header {
        margin-top: 10px;
    }
}