
.logo img{
    box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #FFE143,  inset 0 0 16px #FFE143, 0 0 32px #FFE143, inset 0 0 32px #FFE143; 
    border-radius: 50%;
    max-width: 300px;
    height: auto;
}

.logo {
    display: flex;
}