
.logo img{
    box-shadow: 0 0 8px $color-white, inset 0 0 8px $color-white, 0 0 16px $color-yellow,  inset 0 0 16px $color-yellow, 0 0 32px $color-yellow, inset 0 0 32px $color-yellow; 
    border-radius: 50%;
    max-width: 300px;
    height: auto;
}

.logo {
    display: flex;
}