.project-banner {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 60px;
}

.project-banner img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}
