.button button{
    background-color: $color-background;
    border: none;
    border-radius: 5px;
    color: $color-yellow;
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.5s;
}

.button.active {
    background-color: $color-background-light;
}

.button button:first-child {
    margin-left: 120px;
}

.button button:hover {
    background-color: $color-background-light;
    cursor: pointer;
}

.button checked {
    background-color: $color-background-light;
}

.skills {
    display: flex;
    align-items: center;
    color: $color-white;
    margin-left: 120px;
    margin-top: 20px;
}

.skills h1 {
    margin-left: 10px;
}

.skills .bar {
    width: 60px;
}