.form-section {
    color: $color-white;
}

.title-and-logo .logo {
    margin-top: 50px;
}

.form {
    background-color: $color-background-light;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}

.link {
    text-decoration: underline;
    color: $color-yellow;
}

.text-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $color-white;
    margin-top: 90px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

input:focus, textarea:focus{
    outline-color: $color-background-light;
}

.form-group label {
    margin-bottom: 6px;
    color: $color-yellow;
    font-size: medium;
}

.form-control {
    width: 100%;
    padding: 10px 10px;
    color: $color-background-light;
    background-color: $color-white;
    background-clip: padding-box;
    border: 1px solid $color-white;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form .btn-primary {
    margin-top: 1.875rem;
    margin-left: auto;
}

.btn {
    background-color: $color-background-light;
    color: $color-white;
    padding: 10px 20px;
    font-size: larger;
    border: none;
    border-radius: 50px;
    margin-top: 0.7em;
    display: block;
    text-decoration: none;
    width: fit-content;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background-color: $color-yellow;
    color: $color-background-light;
    transition: all 0.5s;
}

textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
}

.message {
    resize: none;
    height: 160px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(70, 70, 78, 0.1);
}

.validation-message {
    color: $color-yellow;
}

.error-message {
    color: red;
}

@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
        margin-top: 40px;
    }

    .text-form {
        text-align: center;
        font-size: small;
        margin-top: 20px;
    }

    .form {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 90%;
    }
}