@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/AnonymousPro-Regular.ttf);
}
  
$font-1: "font-1", sans-serif;

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
font-family: $font-1;
background: #111111;
max-width: 1440px;
margin: auto;
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #1f1f1f; /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #FFF; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #1f1f1f; /* creates padding around scroll thumb */
}

li {
list-style-type: none;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


